.modal.mfp-hide#callback
  form.form
    input(type="hidden", name="act" value="callback")
    p.form__header Заказать обратный звонок
    .form__inner
      label.form__name.form__label
        p.form__name-text Имя
        input.form__name-input.form__input(type="text" name="name")
      label.form__phone.form__label
        p.form__phone-text Телефон *
        input.form__phone-input.form__input(type="text" name="phone" required)
      label.form__comment.form__label
        p.form__comment-text Комментарий к заявке
        textarea.form__comment-textarea.form__textarea(type="text" name="comment")
    label.form__privacy.form__label
      input(type="checkbox" required)
      | Разрешаю обработку #[a(href="#privacy") персональных данных]
    button.form__button.btn.btn_call(type="submit") заказать звонок
.modal.privacy.mfp-hide#privacy
  <h2>Политика конфиденциальности</h2>
  <p>Настоящая Политика конфиденциальности определяет, каким образом ООО &laquo;Онега&raquo; собирает, использует, хранит и раскрывает информацию, полученную от пользователей на веб-сайте <a href="http://doskabrus47.ru/" target="_blank">doskabrus47.ru/</a>. Данная политика конфиденциальности относится и к Сайту, всем поддоменам Сайта и всем продуктам и услугам, предлагаемым Сайтом.</p>
  <p>Эта страница содержит сведения о том, какую информацию мы или третьи лица могут получать, когда Вы пользуетесь нашим Сайтом. Надеемся, что эти сведения помогут Вам принимать осознанные решения в отношении предоставляемой нам информации о себе.</p>
  <p>Настоящая Политика конфиденциальности распространяется непосредственно на этот Сайт и на информацию, получаемую с его помощью. Она не распространяется ни на какие другие сайты и не применима к веб-сайтам третьих лиц, которые могут содержать упоминание о нашем Сайте и с которых могут делаться ссылки на Сайт, а также ссылки с этого Сайта на другие сайты сети Интернет.</p>
  <p>Если пользователь не согласен с настоящей Политикой, он обязан немедленно покинуть Сайт.</p>

  <p><strong>Получаемая информация</strong></p>

  <p>Когда Вы посещаете Сайт, мы определяем IP адрес, имя домена, с которого Вы к нам пришли, и страну регистрации данного ip, а также фиксируем все переходы посетителей с одной страницы Сайта на другую.</p>
  <p>Сведения, которые мы получаем на Сайте, могут быть использованы для того, чтобы облегчить пользование Сайтом. Сайт собирает только общую информацию, которую Ваш браузер предоставляет добровольно при посещении Сайта.</p>
  <p>Сайт применяет стандартную технологию "cookies" ("куки") для настройки стилей отображения Сайта под параметры экрана монитора. "Куки" представляет собой данные с веб-сайта, которые&nbsp;сохраняются на жестком диске Вашего же компьютера. В "cookies" содержится информация, которая может быть необходимой для настройки Сайта, - для сохранения Ваших установок вариантов просмотра и сбора статистической информации по Сайту, т.е. какие страницы Вы посетили, что было загружено, имя домена интернет-провайдера и страна посетителя, а также адреса сторонних веб-сайтов, с которых совершен переход на Сайт и далее.</p>
  <p>Также данную технологию использует установленные на Сайте счетчики компании Yandex/Rambler/Google и т.&nbsp;п.</p>
  <p>Технология "Cookies" не содержит никаких личных сведений относительно Вас. Чтобы просматривать материал без "cookies", Вы можете настроить свой браузер таким образом, чтобы она не принимала "cookies", либо уведомляла Вас об этом (настройки браузеров различны, поэтому советуем Вам получить справку в разделе "Помощь" и выяснить как изменить установки браузера по "cookies"). Подробно о работе куки файлов Вы можете прочитать здесь: <a href="http://ru.wikipedia.org/wiki/HTTP_cookie" target="_blank">http://ru.wikipedia.org/wiki/HTTP_cookie</a></p>
  <p>Кроме того, Сайт использует стандартные возможности веб-сервера для подсчета количества посетителей и оценки технических возможностей хост-сервера, рейтинги и счетчики посещаемости от сторонних организаций (yandex.ru, top100.rambler.ru, top.mail.ru и др.). Мы используем эту информацию для того, чтобы определить, сколько человек посещает Сайт, и расположить страницы наиболее удобным для пользователей способом, обеспечить соответствие Сайта с используемыми Вами браузерам и сделать содержание Сайта максимально полезным для посетителей. Мы записываем сведения по перемещениям на Сайте, но не об отдельных посетителях Сайта, так что никакая конкретная информация относительно Вас лично не будет сохраняться или использоваться Администрацией Сайта без Вашего согласия.</p>
  <p>Также мы можем собирать личную идентификационную информацию от пользователей, когда пользователь посещает наш Сайт, регистрируется на Сайте, оформляет заказ, заполняет формы и в связи с другой активностью на Сайте. Пользователя могут попросить при необходимости указывать имя, электронный адрес, номер телефона, данные кредитной карты. Пользователи могут, однако, посещать наш Сайт анонимно. Мы собираем личную идентификационную информацию пользователей, только если они добровольно предоставляют нам такую информацию. Пользователи всегда могут отказаться в предоставлении личной идентификационной информации, за исключением случаев, когда это может помешать пользоваться отдельными функциями Сайта.</p>

  <p><strong>Как мы используем собранную информацию</strong></p>

  <p>ООО &laquo;Онега&raquo; может собирать и использовать личную информацию пользователей для следующих целей:</p>
  <ul>
    <li>для улучшения обслуживания клиентов. Предоставляемая вами информация помогает нам реагировать на запросы клиентов более эффективно.&nbsp;</li>
    <li>чтобы персонализировать пользовательский опыт. Мы можем использовать информацию для определения, кто из посетителей Сайта наиболее заинтересован в услугах и ресурсах, предоставляемых на нашем Сайте.&nbsp;</li>
    <li>для улучшения нашего Сайта. Мы можем использовать обратную связь, которую вы предоставляете, чтобы улучшить наши продукты и услуги.&nbsp;Мы не делимся этой информацией с третьими лицами за исключением тех случаев, когда необходимо для предоставления услуг:</li>
    <li>чтобы отправлять пользователям информацию, которую они согласились получать на темы, которые, как мы думаем, будут представлять для них интерес. </li>
    <li>чтобы отправлять периодически сообщения электронной почтой. Они могут включать новости компании, обновления, информацию о продуктах и услугах и т.д. Если Пользователь хотел бы отказаться от получения последующих писем, мы включаем подробное описание инструкции по тому, как отписаться в нижней части каждой электронной почты, или пользователь может связаться с нами через наш Сайт.</li>
  </ul>

  <p><strong>Персональные данные Пользователя</strong></p>
  
  <p>Вводя личные данные в формах обратной связи на Сайте и нажимая на кнопку <strong>&laquo;Заказать звонок&raquo;</strong> Пользователь принимает решение о предоставлении своих персональных данных и дает согласие на их обработку своей волей и в своем интересе, при этом такое согласие Пользователя является конкретным и сознательным.</p>
  <p>Администрация Сайта не проверяет достоверность персональной информации, предоставляемой Пользователями, и не осуществляет проверку их дееспособности. При этом Администрация Сайта исходит из того, что информация, переданная им от пользователей, является достоверной.</p>
  <p>Пользователь несет ответственность за предоставление персональных данных третьего лица.</p>
  <p>Личные данные, вводимые Пользователем при заполнении формы обратной связи,&nbsp;могут быть использованы Администрацией Сайта для подготовки и направления оферты, совершения сделки, выполнения услуги или улучшения качества услуг.</p>
  <p>В отношении персональной информации Пользователя сохраняется ее конфиденциальность. Ни при каких условиях Администрация Сайта не передает персональную информацию Пользователя третьим лицам за исключением случаев, прямо предусмотренных действующим законодательством Российской Федерации.</p>
  <p>Пользователь соглашается с тем, что Администрация Сайта вправе использовать персональные данные Пользователя для осуществления&nbsp;электронной новостной или рекламной рассылки, в том числе посредством&nbsp;email-писем и SMS-сообщений.</p>

  <p><strong>Обработка персональных данных Пользователей</strong></p>

  <p>Принятие условий настоящей Политики в части положений об обработке персональных данных, осуществляется путем проставления Пользователем соответствующей отметки при заполнении любой формы обратной связи и является выраженным осознанным согласием Пользователя на обработку персональных данных.</p>
  <p>Пользователь соглашается с тем, что Администрация Сайта имеет право на хранение и обработку, в том числе и автоматизированную, любой информации, относящейся к персональным данным Пользователя в соответствии с Федеральным законом от 27.07.2006 № 152-ФЗ &laquo;О персональных данных&raquo;, включая сбор, систематизацию, накопление, хранение, уточнение, использование, распространение (в том числе передачу), обезличивание, блокирование, уничтожение персональных данных, предоставленных Пользователем при заполнении формы обратной связи на Сайте.</p>
  <p>Согласие на обработку персональных данных может быть в любой момент отозвано Пользователем путем письменного обращения в адрес Администрации Сайта. В случае отзыва Пользователем согласия на обработку персональных данных, Администрация Сайта удаляет персональные данные Пользователя и не вправе использовать их в будущем.</p>

  <p><strong>Как мы защищаем вашу информацию</strong></p>
  <p>Администрацией Сайта обеспечивается конфиденциальность и безопасность при обработке персональных данных. Мы принимаем соответствующие меры безопасности по сбору, хранению и обработке любых собранных данных для защиты их от несанкционированного доступа, изменения, раскрытия или уничтожения Вашей личной информации (имя пользователя, пароль, информация транзакции и данные, хранящиеся на нашем Сайте).</p>

  <p><strong>Общий доступ к личной информации</strong></p>
  <p>Мы не продаем, не обмениваем или не даем в аренду личную информацию пользователей. Мы можем предоставлять общие агрегированные демографические данные, не связанные с личной информацией, нашими партнерами и рекламодателями для целей, описанных выше. Мы можем использовать сторонних поставщиков услуг, чтобы помочь нам управлять нашим бизнесом и Сайтом или управлять деятельностью от нашего имени, например, проведение рассылки или статистические и иные исследования. Мы можем делиться этой информацией с этими третьими лицами для ограниченных целей при условии, что Вы дали нам соответствующие разрешения.</p>

  <p><strong>Изменения в политике конфиденциальности</strong></p>

  <p>ООО &laquo;Онега&raquo; имеет право по своему усмотрению обновлять данную политику конфиденциальности в любое время. В этом случае мы опубликуем уведомление на главной странице нашего Сайта и сообщим Вам об этом по электронной почте. Мы рекомендуем пользователям регулярно проверять эту страницу для того, чтобы быть в курсе любых изменений о том, как мы защищаем личную информацию, которую мы собираем. Используя Сайт, Вы соглашаетесь с принятием на себя ответственности за периодическое ознакомление с Политикой конфиденциальности и изменениями в ней.</p>

  <p><strong>Ваше согласие с этими условиями</strong></p>

  <p>Используя этот Сайт, Вы выражаете свое конкретное и осознанное согласие с этой Политикой. Если Вы не согласны с этой политикой, пожалуйста, не используйте наш Сайт. Ваше дальнейшее использование Сайта после внесения изменений в настоящую политику будет рассматриваться как Ваше согласие с этими изменениями.</p>

  <p><strong>Отказ от ответственности</strong></p>

  <p>Помните, политика конфиденциальности при посещении сторонних Сайтов третьих лиц, не подпадает под действия данного документа. Администрация Сайта не несет ответственности за действия других веб-сайтов.</p>

  <p><strong>Как с нами связаться</strong></p>
  <p>Если у Вас есть какие-либо вопросы по политике конфиденциальности, использованию Сайта или иным вопросам, связанным с Сайтом, пожалуйста, свяжитесь с нами по электронной почте: <a href="mailto:upwood@yandex.ru">upwood@yandex.ru</a></p>
  <p><strong>Юридические данные ООО &laquo;Онега&raquo;:</strong></p>
  
  <p>Общество с ограниченной ответственностью &laquo;Онега&raquo;</p>
  <p>ИНН 4705069513</p>
  <p>КПП 470501001</p>
  <p>ОГРН 1154704005994</p>
  <p>Юридический адрес: 188340 Россия, Ленинградская область, Гатчинский район, гп. Тайцы, ул. Карьерная, д.1, пом.5</p>
  <p>Физический адрес: 188340 Россия, Ленинградская область, Гатчинский район, гп. Тайцы, ул. Карьерная, д.1, пом.5</p>

  <p>(получить полные реквизиты для оплаты вы можете, написав на email: <a href="mailto:upwood@yandex.ru">upwood@yandex.ru</a>)</p>
