<table class="price-table" id="price-table">
  <tr>
    <td>Наименование</td>
    <td>Типоразмер</td>
    <td colspan="3">Цена, руб.</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>1 сорт</td>
    <td>2 сорт</td>
    <td></td>
  </tr>
  <tr>
    <td rowspan="4">Доска обрезная ест. вл./ м<sup>3</sup></td>
    <td>22х100(130)х6</td>
    <td>24000</td>
    <td>15000</td>
    <td></td>
  </tr>
  <tr>
    <td>25х100(150)х6</td>
    <td>24000</td>
    <td>15000</td>
    <td></td>
  </tr>
  <tr>
    <td>40х100150)х6</td>
    <td>22000</td>
    <td>15500</td>
    <td></td>
  </tr>
  <tr>
    <td>50х100(150,200)х6</td>
    <td>22000 26000</td>
    <td>15500</td>
    <td></td>
  </tr>
  <tr>
    <td rowspan="3">Брус ест. вл./ м<sup>3</sup></td>
    <td>100х100(150,200)х6</td>
    <td>22000 26000</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>150х150(200)х6</td>
    <td>22000 26000</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>200х200х6</td>
    <td>26000</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td rowspan="4">Брусок ест. вл./ м<sup>3</sup></td>
    <td>(25х50),(40Х40),(50х50)х2</td>
    <td>17000</td>
    <td></td>
    <td>сухой 19000</td>
  </tr>
  <tr>
    <td>(25х50),(40х40),(50х50)х2,5</td>
    <td>17000</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>(25х50),(40х50),(50х50)х3</td>
    <td>17000</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>50х50х6</td>
    <td>22000</td>
    <td></td>
    <td>сухой 24000</td>
  </tr>
  <tr>
    <td rowspan="8">Шпунт пола/м<sup>3</sup></td>
    <td>35х90х6</td>
    <td>38200</td>
    <td>27300</td>
    <td></td>
  </tr>
  <tr>
    <td>35х120х6</td>
    <td>38200</td>
    <td>27300</td>
    <td></td>
  </tr>
  <tr>
    <td>35х140х6</td>
    <td>37500</td>
    <td>27300</td>
    <td></td>
  </tr>
  <tr>
    <td>28х90х6</td>
    <td>40500</td>
    <td>27300</td>
    <td></td>
  </tr>
  <tr>
    <td>28х120х6</td>
    <td>39600</td>
    <td>27300</td>
    <td></td>
  </tr>
  <tr>
    <td>45х90х6</td>
    <td>38700</td>
    <td>27300</td>
    <td></td>
  </tr>
  <tr>
    <td>45х120х6</td>
    <td>38100</td>
    <td>27300</td>
    <td></td>
  </tr>
  <tr>
    <td>45х140х6</td>
    <td>37500</td>
    <td>27300</td>
    <td></td>
  </tr>
  <tr>
    <td rowspan="3">Блок-хаус/м<sup>3</sup></td>
    <td>35х140х6</td>
    <td>38600</td>
    <td>27300</td>
    <td></td>
  </tr>
  <tr>
    <td>45х140х6</td>
    <td>39500</td>
    <td>27300</td>
    <td></td>
  </tr>
  <tr>
    <td>45х190х6</td>
    <td>41000</td>
    <td>27300</td>
    <td></td>
  </tr>
  <tr>
    <td rowspan="2">Имитатор бруса/м<sup>2</sup></td>
    <td>20х140х6</td>
    <td>900</td>
    <td>550</td>
    <td>б\с 730</td>
  </tr>
  <tr>
    <td>20х190х6</td>
    <td>1000</td>
    <td>650</td>
    <td>б\с 830</td>
  </tr>
  <tr>
    <td rowspan="5">Вагонка /м<sup>2</sup></td>
    <td>12,5х90(120)х6</td>
    <td>600</td>
    <td>400</td>
    <td></td>
  </tr>
  <tr>
    <td>12,5х90(120)х2,1</td>
    <td>460</td>
    <td>230</td>
    <td></td>
  </tr>
  <tr>
    <td>12,5х90(120)х2,4</td>
    <td>460</td>
    <td>230</td>
    <td></td>
  </tr>
  <tr>
    <td>12,5х90(120)х2,7</td>
    <td>460</td>
    <td>230</td>
    <td></td>
  </tr>
  <tr>
    <td>12,5х90(120)х3</td>
    <td>460</td>
    <td>230</td>
    <td></td>
  </tr>
  <tr>
    <td rowspan="4">Вагонка /м<sup>2</sup> сосна осина бессучковая</td>
    <td>12,5х90(120)х2,1</td>
    <td>800</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>12,5х90(120)х2,4</td>
    <td>800</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>12,5х90(120)х2,7</td>
    <td>1000</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>12,5х90(120)х3</td>
    <td>1000</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td rowspan="6">Доска сухая/ м<sup>3</sup> вланость 14-16%</td>
    <td>18х100х(2,1;2,4;2,7;3)</td>
    <td>19400</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>25х100х150х6</td>
    <td>24000</td>
    <td>17000</td>
    <td></td>
  </tr>
  <tr>
    <td>40х100х150х6</td>
    <td>23000</td>
    <td>17000</td>
    <td></td>
  </tr>
  <tr>
    <td>50х100х150(200)х6</td>
    <td>23000 26000</td>
    <td>17000 18000</td>
    <td></td>
  </tr>
  <tr>
    <td>20х93х6</td>
    <td>24000</td>
    <td>17000</td>
    <td></td>
  </tr>
  <tr>
    <td>20х100х6</td>
    <td>24000</td>
    <td>17000</td>
    <td></td>
  </tr>
  <tr>
    <td rowspan="4">Доска сухая строганная /м<sup>3</sup> влажность 14-16%</td>
    <td>20х90(140)х6</td>
    <td>37500</td>
    <td>27600</td>
    <td>34600 б\с</td>
  </tr>
  <tr>
    <td>35х90(140)х6</td>
    <td>37500</td>
    <td>27600</td>
    <td>34600 б\с</td>
  </tr>
  <tr>
    <td>45х90(140)х6</td>
    <td>35300</td>
    <td>27600</td>
    <td>33000 б\с</td>
  </tr>
  <tr>
    <td>45х190х6</td>
    <td>36200</td>
    <td>27600</td>
    <td>33600 б\с</td>
  </tr>
</table>

.price-items#price-table2
  .price__item
    <p><strong>Наименование:</strong> Доска обрезная ест. вл./ м<sup>3</sup></p>
    <p><strong>Типоразмер, мм:</strong> 22х100(130)х6</p>
    <p><strong>Цена, ₽</strong></p>
    <p><strong>1 сорт:</strong> 24&nbsp;000</p>
    <p><strong>2 сорт:</strong> 15&nbsp;500</p>
  .price__item
    <p><strong>Наименование:</strong> Доска обрезная ест. вл./ м<sup>3</sup></p>
    <p><strong>Типоразмер, мм:</strong> 22х100(130)х6</p>
    <p><strong>Цена, ₽</strong></p>
    <p><strong>1 сорт:</strong> 24&nbsp;000</p>
    <p><strong>2 сорт:</strong> 15&nbsp;500</p>
  .price__item
    <p><strong>Наименование:</strong> Доска обрезная ест. вл./ м<sup>3</sup></p>
    <p><strong>Типоразмер, мм:</strong> 25х100(150)х6</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 24&nbsp;000</p>
    <p><strong>2 сорт:</strong> 15&nbsp;500</p>
  .price__item
    <p><strong>Наименование:</strong> Доска обрезная ест. вл./ м<sup>3</sup></p>
    <p><strong>Типоразмер, мм:</strong> 40х100150)х6</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 22&nbsp;000</p>
    <p><strong>2 сорт:</strong> 15&nbsp;500</p>
  .price__item
    <p><strong>Наименование:</strong> Доска обрезная ест. вл./ м<sup>3</sup></p>
    <p><strong>Типоразмер, мм:</strong> 50х100(150,200)х6</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 22&nbsp;000, 26 000</p>
    <p><strong>2 сорт:</strong> 15&nbsp;500</p>
  .price__item
    <p><strong>Наименование:</strong> Брус ест. вл./ м<sup>3</sup></p>
    <p><strong>Типоразмер, мм:</strong> 100х100(150,200)х6</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 22&nbsp;000, 26&nbsp;000</p>
  .price__item
    <p><strong>Наименование:</strong> Брус ест. вл./ м<sup>3</sup></p>
    <p><strong>Типоразмер, мм:</strong> 150х150(200)х6</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 22&nbsp;000, 26&nbsp;000</p>
  .price__item
    <p><strong>Наименование:</strong> Брус ест. вл./ м<sup>3</sup></p>
    <p><strong>Типоразмер, мм:</strong> 200х200х6</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 26&nbsp;000</p>
  .price__item
    <p><strong>Наименование:</strong> Брусок ест. вл./ м<sup>3</sup></p>
    <p><strong>Типоразмер, мм:</strong> (25х50),(40Х40),(50х50)х2</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 17&nbsp;000</p>
    <p>Сухой: 19&nbsp;000</p>
  .price__item
    <p><strong>Наименование:</strong> Брус ест. вл./ м<sup>3</sup></p>
    <p><strong>Типоразмер, мм:</strong> (25х50),(40х40),(50х50)х2,5</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 17&nbsp;000</p>
  .price__item
    <p><strong>Наименование:</strong> Брус ест. вл./ м<sup>3</sup></p>
    <p><strong>Типоразмер, мм:</strong> (25х50),(40х50),(50х50)х3</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 17&nbsp;000</p>
  .price__item
    <p><strong>Наименование:</strong> Брус ест. вл./ м<sup>3</sup></p>
    <p><strong>Типоразмер, мм:</strong> 50х50х6</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 22&nbsp;000</p>
    <p><strong>Сухой: </strong>24&nbsp;000</p>
  .price__item
    <p><strong>Наименование:</strong> Шпунт пола/м<sup>3</sup></p>
    <p><strong>Типоразмер, мм:</strong> 35х90х6</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 38 200</p>
    <p><strong>2 сорт:</strong> 27&nbsp;300</p>
  .price__item
    <p><strong>Наименование:</strong> Шпунт пола/м<sup>3</sup></p>
    <p><strong>Типоразмер, мм:</strong> 35х120х6</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 38 200</p>
    <p><strong>2 сорт:</strong> 27&nbsp;300</p>
  .price__item
    <p><strong>Наименование:</strong> Шпунт пола/м<sup>3</sup></p>
    <p><strong>Типоразмер, мм:</strong> 35х140х6</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 37 500</p>
    <p><strong>2 сорт:</strong> 27&nbsp;300</p>
  .price__item
    <p><strong>Наименование:</strong> Шпунт пола/м<sup>3</sup></p>
    <p><strong>Типоразмер, мм:</strong> 28х90х6</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 40 500</p>
    <p><strong>2 сорт:</strong> 27&nbsp;300</p>
  .price__item
    <p><strong>Наименование:</strong> Шпунт пола/м<sup>3</sup></p>
    <p><strong>Типоразмер, мм:</strong> 28х120х6</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 39 600</p>
    <p><strong>2 сорт:</strong> 27&nbsp;300</p>
  .price__item
    <p><strong>Наименование:</strong> Шпунт пола/м<sup>3</sup></p>
    <p><strong>Типоразмер, мм:</strong> 45х90х6</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 38 700</p>
    <p><strong>2 сорт:</strong> 27&nbsp;300</p>
  .price__item
    <p><strong>Наименование:</strong> Шпунт пола/м<sup>3</sup></p>
    <p><strong>Типоразмер, мм:</strong> 45х120х6</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 38 100</p>
    <p><strong>2 сорт:</strong> 27&nbsp;300</p>
  .price__item
    <p><strong>Наименование:</strong> Шпунт пола/м<sup>3</sup></p>
    <p><strong>Типоразмер, мм:</strong> 45х140х6</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 37 500</p>
    <p><strong>2 сорт: </strong>27&nbsp;300</p>
  .price__item
    <p><strong>Наименование:</strong> Блок-хаус/м<sup>3</sup></p>
    <p><strong>Типоразмер, мм:</strong> 35х140х6</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 38 600</p>
    <p><strong>2 сорт:</strong> 27&nbsp;300</p>
  .price__item
    <p><strong>Наименование:</strong> Блок-хаус/м<sup>3</sup></p>
    <p><strong>Типоразмер, мм:</strong> 45х140х6</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 39 500</p>
    <p><strong>2 сорт:</strong> 27&nbsp;300</p>
  .price__item
    <p><strong>Наименование:</strong> Блок-хаус/м<sup>3</sup></p>
    <p><strong>Типоразмер, мм:</strong> 45х190х6</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 41 000</p>
    <p><strong>2 сорт:</strong> 27&nbsp;300</p>
  .price__item
    <p><strong>Наименование:</strong> Имитатор бруса/м<sup>2</sup></p>
    <p><strong>Типоразмер, мм:</strong> 20х140х6</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 900</p>
    <p><strong>2 сорт:</strong> 550</p>
    <p><strong>б/с:</strong> 730</p>
  .price__item
    <p><strong>Наименование:</strong> Имитатор бруса/м<sup>2</sup></p>
    <p><strong>Типоразмер, мм:</strong> 20х190х6</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 1000</p>
    <p><strong>2 сорт:</strong> 650</p>
    <p><strong>б/с:</strong> 830</p>
  .price__item
    <p><strong>Наименование:</strong> Вагонка /м<sup>2</sup></p>
    <p><strong>Типоразмер, мм:</strong> 12,5х90(120)х6</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 600</p>
    <p><strong>2 сорт:</strong> 400</p>
  .price__item
    <p><strong>Наименование:</strong> Вагонка /м<sup>2</sup></p>
    <p><strong>Типоразмер, мм:</strong> 12,5х90(120)х2,1</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 460</p>
    <p><strong>2 сорт:</strong> 230</p>
  .price__item
    <p><strong>Наименование:</strong> Вагонка /м<sup>2</sup></p>
    <p><strong>Типоразмер, мм:</strong> 12,5х90(120)х2,4</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 460</p>
    <p><strong>2 сорт:</strong> 230</p>
  .price__item
    <p><strong>Наименование:</strong> Вагонка /м<sup>2</sup></p>
    <p><strong>Типоразмер, мм:</strong> 12,5х90(120)х2,7</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 460</p>
    <p><strong>2 сорт:</strong> 230</p>
  .price__item
    <p><strong>Наименование:</strong> Вагонка /м<sup>2</sup></p>
    <p><strong>Типоразмер, мм:</strong> 12,5х90(120)х3</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 460</p>
    <p><strong>2 сорт:</strong> 230</p>
  .price__item
    <p><strong>Наименование:</strong> Вагонка /м<sup>2</sup>, сосна, осина бессучковая</p>
    <p><strong>Типоразмер, мм:</strong> 12,5х90(120)х2,1</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 800</p>
  .price__item
    <p><strong>Наименование:</strong> Вагонка /м<sup>2</sup>, сосна, осина бессучковая</p>
    <p><strong>Типоразмер, мм:</strong> 12,5х90(120)х2,4</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 8<strong>00</strong></p>
  .price__item
    <p><strong>Наименование:</strong> Вагонка /м<sup>2</sup>, сосна, осина бессучковая</p>
    <p><strong>Типоразмер, мм:</strong> 12,5х90(120)х2,7</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт: 1000</strong></p>
  .price__item
    <p><strong>Наименование:</strong> Вагонка /м<sup>2</sup>, сосна, осина бессучковая</p>
    <p><strong>Типоразмер, мм: </strong>12,5х90(120)х3</p>
    <p><strong>Цена, </strong>₽</p>
    <p><strong>1 сорт: </strong>1000</p>
  .price__item
    <p><strong>Наименование:</strong> Доска сухая/ м<sup>3</sup>, влажность 14-16%</p>
    <p><strong>Типоразмер, мм: </strong>18х100х(2,1;2,4;2,7;3)</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт: </strong>19&nbsp;400</p>
  .price__item
    <p><strong>Наименование: </strong>Доска сухая/ м<sup>3</sup>, влажность 14-16%</p>
    <p><strong>Типоразмер, мм: </strong>25х100х150х6</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт: </strong>24 000</p>
    <p><strong>2 сорт: </strong>17&nbsp;000</p>
  .price__item
    <p><strong>Наименование:</strong> Доска сухая/ м<sup>3</sup>, влажность 14-16%</p>
    <p><strong>Типоразмер, мм: </strong>40х100х150х6</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 23 000</p>
    <p><strong>2 сорт:</strong> 17&nbsp;000</p>
  .price__item
    <p><strong>Наименование:</strong> Доска сухая/ м<sup>3</sup>, влажность 14-16%</p>
    <p><strong>Типоразмер, мм:</strong> 50х100х150(200)х6</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 23&nbsp;000, 26 000</p>
    <p><strong>2 сорт:</strong> 17&nbsp;000, 18&nbsp;000</p>
  .price__item
    <p><strong>Наименование:</strong> Доска сухая/ м<sup>3</sup>, влажность 14-16%</p>
    <p><strong>Типоразмер, мм:</strong> 20х93х6</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 24 000</p>
    <p><strong>2 сорт:</strong> 17&nbsp;000</p>
  .price__item
    <p><strong>Наименование:</strong> Доска сухая/ м<sup>3</sup>, влажность 14-16%</p>
    <p><strong>Типоразмер, мм:</strong> 20х100х6</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 24 000</p>
    <p><strong>2 сорт: </strong>17&nbsp;000</p>
  .price__item
    <p><strong>Наименование:</strong> Доска сухая строганная /м<sup>3</sup>, влажность 14-16%</p>
    <p><strong>Типоразмер, мм:</strong> 20х90(140)х6</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 37 500</p>
    <p><strong>2 сорт:</strong> 27&nbsp;600</p>
    <p><strong>б/с:</strong> 34&nbsp;600</p>
  .price__item
    <p><strong>Наименование:</strong> Доска сухая строганная /м<sup>3</sup>, влажность 14-16%</p>
    <p><strong>Типоразмер, мм:</strong> 35х90(140)х6</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 37 500</p>
    <p><strong>2 сорт:</strong> 27&nbsp;600</p>
    <p><strong>б/с:</strong> 34&nbsp;600</p>
  .price__item
    <p><strong>Наименование:</strong> Доска сухая строганная /м<sup>3</sup>, влажность 14-16%</p>
    <p><strong>Типоразмер, мм:</strong> 45х90(140)х6</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 35 300</p>
    <p><strong>2 сорт:</strong> 27&nbsp;600</p>
    <p><strong>б/с:</strong> 33&nbsp;000</p>
  .price__item
    <p><strong>Наименование:</strong> Доска сухая строганная /м<sup>3</sup>, влажность 14-16%</p>
    <p><strong>Типоразмер, мм:</strong> 45х190х6</p>
    <p><strong>Цена,</strong> ₽</p>
    <p><strong>1 сорт:</strong> 36 300</p>
    <p><strong>2 сорт:</strong> 27&nbsp;600</p>
    <p><strong>б/с:</strong> 33&nbsp;600</p>
